In [1]:
import numpy as np

### 11. 2차원 배열

다음과 같이 2차원 ndarray 객체를 정의하세요.

[[0 1 2]
 [3 4 5]]

In [3]:
np.array([[0, 1, 2],
              [3, 4, 5]])

array([[0, 1, 2],
       [3, 4, 5]])

In [4]:
np.arange(6).reshape(2, 3)

array([[0, 1, 2],
       [3, 4, 5]])

### 12. ones

1이 20개 저장된 아래의 ndarray 객체를 만들어 보세요.

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [6]:
np.ones(20, dtype=int)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

### 13. ones

4행 5열로 저장된 아래의 ndarray 객체를 만들어 보세요.

[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [7]:
arr1 = np.ones(20, dtype=int)
arr2 = arr1.reshape(4, -1)
arr2

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

### 14. ones

255로 채워진 10X10 크기의 ndarray 객체를 생성하세요.

In [12]:
arr = np.ones(100, dtype=int)*255
arr.reshape(10, 10)

array([[255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255],
       [255, 255, 255, 255, 255, 255, 255, 255, 255, 255]])

### 15. zeros

3x4 (행x열) 크기의 0으로 채워진 배열을 생생해보세요.

In [15]:
np.zeros((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

### 16. dtype

[1, 2, 3]을 np.int32 타입의 ndarray 배열로 생성하세요.

In [18]:
np.arange(1, 4, dtype=np.int32)

array([1, 2, 3], dtype=int32)

### 17. dtype

다음 배열의 데이터 타입을 확인해보세요.

arr = np.array([1, 2, 3])

In [19]:
arr = np.array([1, 2, 3])
arr.dtype

dtype('int64')

### 18. dtype

다음 배열의 데이터 타입을 확인해보세요.

arr = np.array(['1', '2', '3'])

In [20]:
arr = np.array(['1', '2', '3'])
arr.dtype

dtype('<U1')

### 19. dtype

다음 데이터를 np.int16 타입의 배열로 형변환하세요

arr = np.array([1, 2, 3])

In [25]:
arr = np.array([1, 2, 3])
arr.astype(np.int16)

array([1, 2, 3], dtype=int16)

### 20. 데이터 타입

300이 44로 출력되는 이유를 설명하세요.

> a = np.array( [ 255, 300, 128], dtype=np.uint8 )
> a
[255  44 128]

`uint8`은 부호 없는 8비트 정수를 표현합니다. 0부터 
 범위의 수를 표현할 수 있습니다. 300은 `uint8`이 표현할 수 있는 범위를 넘기 때문에 잘못된 값이 출력됩니다