In [5]:
import pandas as pd
from pandas import Series

### 071. 시리즈 타입

다음 코드를 수행하면 어떤 데이터 타입을 출력되는지 이야기해보세요. 그리고 그 이유는 무엇인가요?

import pandas as pd

s = pd.Series([1, 2, 'python'])  
print(s.dtype)

In [2]:
s = pd.Series([1, 2, 'python'])
print(s.dtype)

# object

object

### 072. 시리즈 타입 변경

다음 시리즈 객체의 데이터 타입을 int32로 변경해보세요.

import pandas as pd

s = pd.Series(['1', '2', '3'])

In [3]:
s = pd.Series(['1', '2', '3'])
s.astype('int32')

0    1
1    2
2    3
dtype: int32

### 073. 시리즈 데이터 타입 변경

BTC 금액이 50000 달러, XRP 금액이 1 달러, ETH 금액이 4000 달러일 때 시리즈 객체로 생성하세요.  
시리즈 객체를 생성할 때 가격의 데이터 타입을 float로 지정해서 생성하세요.

In [8]:
data = [50000, 1, 4000]
index = ['BTC', 'XRP', 'ETH']
Series(data=data, index=index, dtype='float')

BTC    50000.0
XRP        1.0
ETH     4000.0
dtype: float64

### 074. 시리즈 인덱싱 (대괄호 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 대괄호([ ])을 사용하여 200을 출력하세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [9]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s['영희']

200

### 075. 시리즈 인덱싱 (iloc 속성 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 iloc 속성을 사용하여 200을 출력하세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [10]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.iloc[1]

200

### 076. 시리즈 인덱싱 (loc 속성 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 loc 속성을 사용하여 200을 출력하세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [11]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.loc['영희']

200

### 077. 시리즈 인덱싱 (인덱스 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 인덱스를 사용하여 200을 출력하세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [18]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data=data, index=index)
s['영희']

200

### 078. 시리즈 슬라이싱

시리즈에서 100과 200을 시리즈로 출력하라.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [26]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.iloc[0:2]

철수    100
영희    200
dtype: int64

### 079. 시리즈 슬라이싱

시리즈에는 일자별 가격 정보가 저장돼 있다. 시리즈에서 상위 3개의 데이터의 날짜 (인덱스)를 출력하라.

data = [100, 200, 300, 400, 500, 600]  
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]  
s = Series(data, index)  
Index(['08/01', '08/02', '08/03'], dtype='object')

In [23]:
data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = Series(data, index)
s.iloc[0:3].index

Index(['08/01', '08/02', '08/03'], dtype='object')

### 080. 시리즈 슬라이싱

시리즈에서 100, 300, 500을 슬라이싱으로 출력하라.

data = [100, 200, 300, 400, 500, 600]   
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]   
s = Series(data, index)

In [27]:
data = [100, 200, 300, 400, 500, 600] 
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"] 
s = Series(data, index)

s.iloc[::2]

08/01    100
08/03    300
08/05    500
dtype: int64