In [1]:
import pandas as pd
from pandas import Series

### 111. count

다음 시리즈 객체가 있을 때 null이 아닌 값의 개수를 출력하세요.

data = [1, 2, 3, 4, np.nan]  
s = Series(data=data)

In [3]:
import numpy as np

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)

s.count()

4

In [5]:
s.isna().sum() # null값 개수

1

### 112. 시리즈 데이터 타입 변경

다음 시리즈 객체는 문자열 타입의 데이터가 저장돼 있습니다. 데이터 타입의 문자열로 저장된 경우 숫자와 사칙연산을 수행할 수 없습니다. 시리즈 객체의 데이터 타입을 숫자 타입으로 변경해보세요.

data = ["100", "200", "300"]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [6]:
data = ["100", "200", "300"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s.astype(int)

철수    100
영희    200
아름    300
dtype: int64

### 113. 시리즈 문자열 replace

다음 시리즈 객체는 문자열 타입의 데이터가 저장돼 있습니다. str.replace 함수를 사용하여 컴마를 제거한 후 데이터를 'int32' 타입으로 변환해보세요.

data = ["100,000", "200,000", "300,000"]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [13]:
data = ["100,000", "200,000", "300,000"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s = s.str.replace(',', '')
s.astype(int)

철수    100000
영희    200000
아름    300000
dtype: int64

### 114. 시리즈 문자열 인덱싱

다음과 같은 시리즈 객체가 있을 때 values에서 '세'라는 문자열을 제거한 후 데이터를 'int32' 타입으로 변환해보세요.

s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])  
print(s)  
김대리    30세  
이과장    40세  
박차장    50세  
dtype: object

In [19]:
s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
s = s.replace('세', '', regex=True)
s.astype('int32')

김대리    30
이과장    40
박차장    50
dtype: int32

### 115. reindex

다음 시리즈 객체의 인덱스를 ['a', 'b', 'c', 'd']로 재정렬하세요.

import pandas as pd

s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])  
s

In [21]:
s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s = s.reindex(['a', 'b', 'c', 'd'])
s

a    3
b    4
c    2
d    1
dtype: int64

In [23]:
s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s = s.sort_index()
s

a    3
b    4
c    2
d    1
dtype: int64

### 116. index 변경

다음 시리즈 객체의 인덱스를 월-일 형태(년도 제거)로 변경하세요.

import pandas as pd  
s = pd.Series([1, 2, 3], index=['2023-01-01', '2023-01-02', '2023-01-03

In [26]:
s = pd.Series([1, 2, 3], index=['2023-01-01', '2023-01-02', '2023-01-03'])

s.index = s.index.str[5:]
s

01-01    1
01-02    2
01-03    3
dtype: int64

### 117. datetime

다음 시리즈 객체의 인덱스를 datetime(Timestamp) 타입으로 변경하세요.

import pandas as pd  
s = pd.Series([1, 2, 3], index=['2023-01-01', '2023-01-02', '2023-01-03'])

In [34]:
s = pd.Series([1, 2, 3], index=['2023-01-01', '2023-01-02', '2023-01-03'])

s.index = pd.to_datetime(s.index)
s.index.dtype

dtype('<M8[ns]')

### 118. dropna

다음 시리즈 객체에서 NaN 값을 제거하세요.

import pandas as pd

s = pd.Series([1, 2, 3, np.nan])

In [35]:
s = pd.Series([1, 2, 3, np.nan])

s.dropna(inplace=True)
s

0    1.0
1    2.0
2    3.0
dtype: float64

### 119. Series.map

시리즈의 맵 메서드를 사용하여 시리즈 객체에서 콤마를 제거하세요.

import panas as pd

s = pd.Series(["1,234", "5,678", "9,876"])

In [39]:
s = pd.Series(["1,234", "5,678", "9,876"])
s.map(lambda x : x.replace(',', ''))

0    1234
1    5678
2    9876
dtype: object

### 120. Series.apply

시리즈 객체의 apply 메서드를 사용하여 상용 로그(자연수 10을 밑으로 한 로그) 값을 구하세요.

import pandas as pd

s = pd.Series([10, 100, 1000])

In [41]:
s = pd.Series([10, 100, 1000])

s.apply(lambda x : np.log10(x))

0    1.0
1    2.0
2    3.0
dtype: float64

In [42]:
s = pd.Series([10, 100, 1000])
s.apply(np.log10)

0    1.0
1    2.0
2    3.0
dtype: float64