In [1]:
import pandas as pd

df_m = pd.read_excel("https://drive.google.com/u/0/uc?id=1gVEEFn46Q9DBlgp2e8cTlCXOjbujj_A7&export=download", index_col=0)
df_m.head()

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"68,000",NaN,2006,2021,성남동,금호어울림,1,2,59.93,NaN,3126,41133,9,NaN,NaN
1,"29,500",NaN,2004,2021,성남동,SR하이원,1,2,45.31,NaN,3755,41133,5,NaN,NaN
2,"49,000",NaN,2006,2021,성남동,동부브리앙뜨,1,3,80.49,NaN,2163,41133,3,NaN,NaN
3,"40,800",NaN,1992,2021,성남동,현대,1,7,42.62,NaN,3121,41133,10,NaN,NaN
4,"53,000",NaN,2004,2021,성남동,띠아모,1,7,116.56,NaN,3753,41133,9,NaN,NaN

### 281. 데이터 타입 변경

거래금액 컬럼에는 문자열(object) 타입으로 데이터가 저장돼 있습니다. 콤마를 제거하고 데이터 타입을 숫자로 변경하세요.

In [2]:
df_m['거래금액'] = df_m['거래금액'].str.replace(',', '')

In [3]:
df_m['거래금액']

0       68000
1       29500
2       49000
3       40800
4       53000
        ...
119    100000
120     83000
121     88000
122     82500
123     79000
Name: 거래금액, Length: 124, dtype: object

In [4]:
df_m['거래금액'] = df_m['거래금액'].astype('int64')

df_m['거래금액']

0       68000
1       29500
2       49000
3       40800
4       53000
        ...
119    100000
120     83000
121     88000
122     82500
123     79000
Name: 거래금액, Length: 124, dtype: int64

### 282. 매매평단가

다양한 크기의 아파트 가격을 비교하기위해 매매평단가를 계산합니다. 일반적으로 평단가는 거래금액과 공급면적으로 계산하지만,   
이번문제에서는 주어진 데이터 거래금액과 전용면적으로 매매평단가를 계산해 봅시다.   
m^2를 평으로 환산할 때는 3.3으로 값을 나눕니다.

In [5]:
df_m['매매평단가'] = df_m['거래금액'] / df_m['전용면적'] * 3.3

### 283. 법정동 별로 매매평단가의 평균

주어진 성남시 데이터에는 총 8개의 법정동이 존재합니다. 동별로 매매평단가의 평균을 계산하세요.

In [6]:
df_m.groupby('법정동')[['매매평단가']].mean()

            매매평단가
법정동
금광동   3240.974040
도촌동   3231.935513
상대원동  2789.911981
성남동   2387.478986
여수동   4445.978156
은행동   3268.274510
중앙동   4094.691326
하대원동  2592.894990

### 284. 하대원동의 매매평단가

하대원동의 아파트별 매매평단가 평균을 출력하세요.

In [7]:
df_m[df_m['법정동']=='하대원동'].groupby('아파트')[['매매평단가']].mean()

              매매평단가
아파트
삼남      2027.155016
성남자이    2991.761913
성원초원    2206.619860
아튼빌     3144.589731
태연스카이빌  2186.541613

### 285. 매매평단가와 매매건수

하대원동의 아파트별 매매평단가와 매매건수를 출력하세요.

In [8]:
import numpy as np

df_m[df_m['법정동']=='하대원동'].groupby('아파트').agg({'매매평단가':[np.mean, len]})

              매매평단가
               mean len
아파트
삼남      2027.155016   7
성남자이    2991.761913   5
성원초원    2206.619860   1
아튼빌     3144.589731   5
태연스카이빌  2186.541613   1

### 286. 날짜 변환의 오류

년/월/일 컬럼에 저장된 숫자를 YYYY-MM-DD 형태의 datetime 객체로 변환하고자 합니다. 다음 코드에서 에러가 발생하는 이유를 설명하세요.  
df_m = df_m.astype({   
    "년" : str,  
    "월" : str,  
    "일" : str  
})  
df_m['날짜'] = df_m['년'] + df_m['월'] + df_m['일']  
df_m['날짜'] = pd.to_datetime(df_m['날짜'])  
The above exception was the direct cause of the following exception:  

ParserError                               Traceback (most recent call last)  
/usr/local/lib/python3.7/dist-packages/six.py in raise_from(value, from_value)  

ParserError: month must be in 1..12: 202112

In [9]:
df_m['월'].value_counts()

1    124
Name: 월, dtype: int64

month 1월이 01로 표현되어야 한다

### 287. 날짜 포맷 변경

286번의 에러를 수정해서 다음 그림과 같이 출력하세요.

In [17]:
def f(x):
    if len(x)==1:
        return f"0{x}"
    else:
        return x

df_m['월'] = df_m['월'].map(f)
df_m['일'] = df_m['일'].map(f)

In [21]:
df_m['년'] = df_m['년'].astype('str')
df_m['월'] = df_m['월'].astype('str')
df_m['일'] = df_m['일'].astype('str')

In [22]:
df_m['날짜'] = df_m['년'] + df_m['월'] + df_m['일']
df_m['날짜']

0      20210102
1      20210102
2      20210103
3      20210107
4      20210107
         ...
119    20210117
120    20210121
121    20210123
122    20210125
123    20210130
Name: 날짜, Length: 124, dtype: object

In [23]:
df_m['날짜'] = pd.to_datetime(df_m['날짜'])

temp = df_m[ ["날짜", "법정동", "아파트", "매매평단가"] ]
temp.head(2)

          날짜  법정동    아파트        매매평단가
0 2021-01-02  성남동  금호어울림  3744.368430
1 2021-01-02  성남동  SR하이원  2148.532333

### 288. 전세평단가

다음 코드는 2021년 1월의 성남시의 전월세 거래 데이터입니다.

df_s = pd.read_excel("https://drive.google.com/u/0/uc?id=1akAI69X1J8VL5R0azoGQeEKJ5ttEPrTx&export=download", index_col=0)  
df_s.head(2)  
법정동별 전세평단가를 계산해 봅시다.

In [24]:
df_s = pd.read_excel("https://drive.google.com/u/0/uc?id=1akAI69X1J8VL5R0azoGQeEKJ5ttEPrTx&export=download", index_col=0)
df_s.head(2)

,갱신요구권사용,건축년도,계약구분,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,종전계약보증금,종전계약월세,지번,지역코드,층
0,NaN,2003,NaN,NaN,2021,성남동,"13,000",보미리전빌3,1,0,6,34.10,NaN,NaN,2508,41133,7
1,NaN,1992,NaN,NaN,2021,성남동,"30,000",현대,1,0,9,51.53,NaN,NaN,3121,41133,6

In [26]:
df_s['보증금액'] = df_s['보증금액'].str.replace(',', '').astype('int64')
df_s['전세평단가'] = df_s['보증금액'] / df_s['전용면적'] * 3.3
df_s['전세평단가']

0      1258.064516
1      1921.210945
2      1344.847662
3      1362.298191
4      2524.717514
          ...
187    2019.173058
188     684.079602
189    2326.076724
190    1630.971993
191    3303.854497
Name: 전세평단가, Length: 192, dtype: float64

In [27]:
df_s.groupby('법정동').agg({'전세평단가':np.mean})

            전세평단가
법정동
금광동   1534.072424
도촌동    893.732489
상대원동   978.197479
성남동   1101.450004
여수동   1978.923381
은행동   1043.053289
중앙동   1942.570294
하대원동  1351.372102

### 289. 월세를 고려한 전세평단가

월세의 경우 보증금액만 반영돼어 잘못된 결과가 출력됩니다. 월세의 경우 1억 당 40만원을 전환비로 고려해서 전세가률을 계산하세요.

In [28]:
df_s['전세평단가'] = (df_s['보증금액'] + df_s['월세금액'] / 40 * 10000) / df_s['전용면적'] * 3.3
df_s.groupby('법정동').agg( {'전세평단가': np.mean} )

            전세평단가
법정동
금광동   1812.794434
도촌동   1206.960357
상대원동  1172.104840
성남동   1497.833997
여수동   2199.143954
은행동   1098.786101
중앙동   2077.201451
하대원동  1639.282252

### 290. 전세가율

df_s['전세평단가']에는 전세평단가가 df_m['매매평단가']에는 매매평단가가 저장돼 있습니다. 법정동 별로 전세가률을 계산해 봅시다.

In [32]:
t0 = df_m.groupby('법정동').agg( {'매매평단가': np.mean} )
t1 = df_s.groupby('법정동').agg( {'전세평단가': np.mean} )
t1['전세평단가'] / t0['매매평단가']

법정동
금광동     0.559336
도촌동     0.373448
상대원동    0.420123
성남동     0.627371
여수동     0.494637
은행동     0.336198
중앙동     0.507291
하대원동    0.632221
dtype: float64