### 291. max

다음과 같이 코스피 지수 데이터를 얻어온 후 코스피 지수의 장중 최고가를 구해보세요.

import FinanceDataReader as fdr

kospi = fdr.DataReader("KS11", "2001")

In [1]:
import FinanceDataReader as fdr

kospi = fdr.DataReader("KS11", "2001")

kospi.head()

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2001-01-02,503.31,521.34,500.97,520.95,231014651,0.0324,1,16.33,1223328380750,NaN
2001-01-03,512.74,524.58,510.70,521.43,324584464,0.0009,1,0.48,1583403350350,NaN
2001-01-04,551.53,567.16,550.91,558.02,444540910,0.0702,1,36.59,2984761784750,NaN
2001-01-05,559.54,581.41,555.40,580.85,578286058,0.0409,1,22.83,3569582080650,NaN
2001-01-08,573.72,587.91,572.48,586.65,558645149,0.0100,1,5.80,2948092701600,NaN

In [2]:
kospi['High'].max()

3316.08

### 292. min

코스피의 장중 최저가를 구하세요.

In [3]:
kospi['High'].min()

472.31

### 293. idxmax

코스피의 장중 최고가를 기록한 날짜를 구하세요.

In [5]:
kospi.loc[kospi['High'] == kospi['High'].max()].index

DatetimeIndex(['2021-06-25'], dtype='datetime64[ns]', name='Date', freq=None)

In [6]:
kospi['High'].idxmax()

Timestamp('2021-06-25 00:00:00')

### 294. idxmin

코스피의 장중 최저가를 기록한 날짜를 구하세요.

In [7]:
kospi.loc[kospi['High'] == kospi['High'].min()].index

DatetimeIndex(['2001-09-21'], dtype='datetime64[ns]', name='Date', freq=None)

In [8]:
kospi['High'].idxmin()

Timestamp('2001-09-21 00:00:00')

### 295. nlargest

코스피 지수의 등락률(Change 컬럼) 중 가장 높은 5개를 구하세요.

In [9]:
kospi['Change'].nlargest(n=5)

Date
2008-10-30    0.1195
2020-03-24    0.0860
2002-02-14    0.0764
2008-12-08    0.0748
2020-03-20    0.0744
Name: Change, dtype: float64

In [13]:
kospi['Change'].nlargest(n=5).to_frame() * 100

            Change
Date
2008-10-30   11.95
2020-03-24    8.60
2002-02-14    7.64
2008-12-08    7.48
2020-03-20    7.44

### 296. nsmallest

코스피 지수의 등락률 중 가장 낮은 5거래일을 구하세요.

In [14]:
kospi['Change'].nsmallest(n=5).to_frame() * 100

            Change
Date
2001-09-12  -12.02
2008-10-24  -10.57
2008-10-16   -9.44
2020-03-19   -8.39
2008-11-06   -7.56

### 297. 필터링

종가 기준으로 코스피 지수가 3000 포인트를 돌파한 날짜를 구하세요.

In [18]:
kospi[kospi['Close'] >= 3000].index[0]

Timestamp('2021-01-07 00:00:00')

### 298. 필터링

코스피 지수가 7% 이상 상승한 날의 데이터만 필터링하세요.

In [20]:
kospi[kospi['Change'] >= 0.07]

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2001-01-04,551.53,567.16,550.91,558.02,444540910,0.0702,1,36.59,2984761784750,NaN
2002-02-14,764.15,796.18,762.41,796.18,759498069,0.0764,1,56.52,4829851848775,2.939671e+14
2008-10-30,1036.83,1094.89,992.89,1084.72,621627912,0.1195,1,115.75,7404484242302,5.519376e+14
2008-12-08,1041.41,1111.27,1037.64,1105.05,541792605,0.0748,1,76.92,6520366148950,5.675601e+14
2020-03-20,1498.49,1566.82,1466.48,1566.15,817021497,0.0744,1,108.51,10632970114698,1.054893e+15
2020-03-24,1523.69,1609.97,1508.68,1609.97,679288486,0.0860,1,127.51,10481447737237,1.083695e+15

### 299. 최다 연속 상승일수 (series.groupby().cumcount and cumsum)

2001년 이후의 코스피지수 데이터에서 최다 연속 상승일수를 구하세요.

In [22]:
import FinanceDataReader as fdr

df = fdr.DataReader('KS11', "2001")
df.head()

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2001-01-02,503.31,521.34,500.97,520.95,231014651,0.0324,1,16.33,1223328380750,NaN
2001-01-03,512.74,524.58,510.70,521.43,324584464,0.0009,1,0.48,1583403350350,NaN
2001-01-04,551.53,567.16,550.91,558.02,444540910,0.0702,1,36.59,2984761784750,NaN
2001-01-05,559.54,581.41,555.40,580.85,578286058,0.0409,1,22.83,3569582080650,NaN
2001-01-08,573.72,587.91,572.48,586.65,558645149,0.0100,1,5.80,2948092701600,NaN

In [23]:
df['up'] = df['Change'] > 0
df['grp'] = (df['up'] != df['up'].shift()).cumsum()
df['up_cnt'] = df['grp'].groupby(df['grp'].values).cumcount() + 1
df['up_cnt'].max()

13

### 300. 최다 연속 하락일수 (series.groupby().cumcount and cumsum)

2001년 이후의 코스피지수 데이터에서 최다 연속 하락일수를 구하세요.

In [24]:
df['down'] = df['Change'] < 0
df['grp'] = (df['down'] != df['down'].shift()).cumsum()
df['down_cnt'] = df['grp'].groupby(df['grp'].values).cumcount() + 1
df['down_cnt'].max()

13