In [9]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from datetime import datetime

### 271. datetime

다음과 같이 데이터프레임의 인덱스를 datetime 객체로 표현하세요.

In [15]:
data = [[None, 52, 17], [221.0, 47, 21], [35.0, 3, 13]]
index = ['2019-12-01', '2020-12-01', '2021-12-01']
columns = ['카카오', 'NAVER', '삼성전자']

df = DataFrame(data=data, index=index, columns=columns)
df

              카카오  NAVER  삼성전자
2019-12-01    NaN     52    17
2020-12-01  221.0     47    21
2021-12-01   35.0      3    13

In [16]:
df.index = pd.to_datetime(df.index)

In [17]:
df.index.dtype

dtype('<M8[ns]')

### 272. dtype

다음 데이터프레임 인덱스의 타입을 확인하세요.

import pandas as pd  
from datetime import datetime  

data = {  
    "카카오": [np.nan, 221, 35],   
    "NAVER": [52, 47, 3],  
    "삼성전자": [17, 21, 13]  
}  
index = [datetime(2019, 12, 1), datetime(2020, 12, 1), datetime(2021, 12, 1)]  
df = pd.DataFrame(data=data, index=index)

In [18]:
data = {  
    "카카오": [np.nan, 221, 35],   
    "NAVER": [52, 47, 3],  
    "삼성전자": [17, 21, 13]  
}  
index = [datetime(2019, 12, 1), datetime(2020, 12, 1), datetime(2021, 12, 1)]
df = pd.DataFrame(data=data, index=index)

df.index.dtype

dtype('<M8[ns]')

### 273. timestamp

다음 데이터프레임의 0번째 인덱스의 타입을 확인하세요.

import pandas as pd  
from datetime import datetime  

data = {  
    "카카오": [np.nan, 221, 35],   
    "NAVER": [52, 47, 3],  
    "삼성전자": [17, 21, 13]  
}  
index = [datetime(2019, 12, 1), datetime(2020, 12, 1), datetime(2021, 12, 1)]  
df = pd.DataFrame(data=data, index=index)

In [19]:
data = {
"카카오": [np.nan, 221, 35],
"NAVER": [52, 47, 3],
"삼성전자": [17, 21, 13]
}
index = [datetime(2019, 12, 1), datetime(2020, 12, 1), datetime(2021, 12, 1)]
df = pd.DataFrame(data=data, index=index)

In [22]:
df.index[0]

Timestamp('2019-12-01 00:00:00')

### 274. 시계열 데이터 인덱싱

다음 데이터프레임에서 2021년 데이터를 인덱싱하세요.

import pandas as pd  
from datetime import datetime  

data = {  
    "카카오": [np.nan, 221, 35],   
    "NAVER": [52, 47, 3],  
    "삼성전자": [17, 21, 13]  
}  
index = [datetime(2019, 12, 1), datetime(2020, 12, 1), datetime(2021, 12, 1)]  
df = pd.DataFrame(data=data, index=index)

In [23]:
data = {
    "카카오": [np.nan, 221, 35], 
    "NAVER": [52, 47, 3],
    "삼성전자": [17, 21, 13]
}
index = [datetime(2019, 12, 1), datetime(2020, 12, 1), datetime(2021, 12, 1)]
df = pd.DataFrame(data=data, index=index)

In [26]:
df[df.index.year == 2021]

             카카오  NAVER  삼성전자
2021-12-01  35.0      3    13

In [27]:
df.loc['2021']

             카카오  NAVER  삼성전자
2021-12-01  35.0      3    13

### 275. pandas.date_range

판다스의 date_range 함수를 사용하여 "2022-01-01"부터 "2022-12-31"까지 일 단위의 시계열 인덱스를 생성하세요.

In [29]:
pd.date_range(start='2022-01-01', end='2022-12-31')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

### 276. pandas.date_range

date_range 함수를 사용하여 '2023-01-01'부터 31개의 일 단위 시계열을 생성하세요.

In [30]:
pd.date_range(start='2023-01-01', periods=31)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

### 277. pandas.date_range

date_range 함수를 사용하여 '2023-01-01 09:00:00'으로부터 5일치의 시계열을 생성하세요.

In [31]:
pd.date_range(start='2023-01-01 09:00:00', periods=5)

DatetimeIndex(['2023-01-01 09:00:00', '2023-01-02 09:00:00',
               '2023-01-03 09:00:00', '2023-01-04 09:00:00',
               '2023-01-05 09:00:00'],
              dtype='datetime64[ns]', freq='D')

### 278. index.tz

다음 데이터프레임 인덱스의 time zone을 출력하세요.

import pyupbit  
df = pyupbit.get_ohlcv("KRW-BTC")

In [33]:
pip install pyupbit

Collecting pyupbit
  Downloading pyupbit-0.2.33-py3-none-any.whl (24 kB)
Collecting websockets
  Downloading websockets-12.0-cp310-cp310-macosx_11_0_arm64.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.3/121.3 kB 8.9 MB/s eta 0:00:00
Requirement already satisfied: requests in /Users/lance/anaconda3/lib/python3.10/site-packages (from pyupbit) (2.28.1)
Requirement already satisfied: pandas in /Users/lance/anaconda3/lib/python3.10/site-packages (from pyupbit) (1.5.3)
Requirement already satisfied: pyjwt>=2.0.0 in /Users/lance/anaconda3/lib/python3.10/site-packages (from pyupbit) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/lance/anaconda3/lib/python3.10/site-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lance/anaconda3/lib/python3.10/site-packages (from pandas->pyupbit) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/lance/anaconda3/lib/python3.10/site-packages (from pandas->pyupbit) (1.23.5)
Requirement already satisfied: idna<4,>=2.5 in /Users/lance/anaconda3/lib/python3.10/site-packages (from requests->pyupbit) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/lance/anaconda3/lib/python3.10/site-packages (from requests->pyupbit) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lance/anaconda3/lib/python3.10/site-packages (from requests->pyupbit) (2023.5.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/lance/anaconda3/lib/python3.10/site-packages (from requests->pyupbit) (1.26.14)
Requirement already satisfied: six>=1.5 in /Users/lance/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->pyupbit) (1.16.0)
Installing collected packages: websockets, pyupbit
Successfully installed pyupbit-0.2.33 websockets-12.0
Note: you may need to restart the kernel to use updated packages.

In [34]:
import pyupbit
df = pyupbit.get_ohlcv("KRW-BTC")
df

,open,high,low,close,volume,value
2023-08-14 09:00:00,39118000.0,39640000.0,38895000.0,39288000.0,2247.998748,8.825779e+10
2023-08-15 09:00:00,39288000.0,39668000.0,39275000.0,39404000.0,3383.235842,1.335731e+11
2023-08-16 09:00:00,39404000.0,39600000.0,39001000.0,39001000.0,4144.931326,1.631967e+11
2023-08-17 09:00:00,39001000.0,39092000.0,36261000.0,36588000.0,9224.234795,3.479893e+11
2023-08-18 09:00:00,36588000.0,36848000.0,35384000.0,35890000.0,9256.752346,3.343948e+11
...,...,...,...,...,...,...
2024-02-25 09:00:00,71107000.0,71595000.0,70907000.0,71256000.0,1867.428109,1.329769e+11
2024-02-26 09:00:00,71254000.0,75000000.0,70000000.0,74742000.0,6152.528499,4.457535e+11
2024-02-27 09:00:00,74741000.0,79183000.0,74554000.0,78619000.0,10168.668479,7.894270e+11
2024-02-28 09:00:00,78621000.0,88424000.0,78082000.0,87634000.0,19254.097473,1.605842e+12
2024-02-29 09:00:00,87695000.0,87703000.0,85244000.0,86002000.0,2091.290983,1.809914e+11

In [40]:
print(df.index.tz)

None

### 279. UNIX time

datetime 모듈로 현재 시간을 얻어온 후 이를 unix time으로 변환하세요.

In [42]:
datetime.now().timestamp()

1709170022.100597

### 280. pandas.Timestamp

datetime 객체 now를 Timestamp 타입으로 변환하고 이를 다시 datetime 타입으로 변환해보세요.

from datetime import datetime

now = datetime.now()

In [45]:
now = datetime.now()

now_ts = pd.Timestamp(now)

now_ts.to_pydatetime()

datetime.datetime(2024, 2, 29, 10, 29, 15, 564484)