In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

### 231. pd.MultiIndex

다음 데이터프레임을 생성하세요. 컬럼은 pd.MultiIndex.from_arrays을 사용하여 구성하세요.

In [2]:
arrays = [['영업이익', '영업이익', '당기순이익', '당기순이익'],
         ['컨센서스', '잠정치', '컨센서스', '잠정치']]

columns = pd.MultiIndex.from_arrays(arrays)

data = [[100, 900, 800, 700], [1200, 1400, 900, 800]]

index = ['2020/06', '2020/09']

df = DataFrame(data=data, index=index, columns=columns)
df

         영업이익       당기순이익
         컨센서스   잠정치  컨센서스  잠정치
2020/06   100   900   800  700
2020/09  1200  1400   900  800

### 232. pd.MultiIndex

위 데이터프레임을 생성하세요. 컬럼은 pd.MultiIndex.from_tuples을 사용하여 구성하세요.

### 233. 멀티인덱스 인덱싱

위 데이터프레임에서 영업이익의 컨센서스 컬럼을 선택하세요.

In [3]:
df[('영업이익', '컨센서스')]

2020/06     100
2020/09    1200
Name: (영업이익, 컨센서스), dtype: int64

In [4]:
df['영업이익']['컨센서스']

2020/06     100
2020/09    1200
Name: 컨센서스, dtype: int64

### 234. 멀티 인덱스 인덱싱

위 데이터프레임에서 2020/06월의 영업이익 컨센서스 값을 출력하세요.

In [5]:
df[('영업이익', '컨센서스')][0]

100

### 235. zip

다음 before 리스트를 after 리스트로 변환하세요.

before = [  
    ('영업이익', '영업이익', '당기순이익', '당기순이익'),   
    ('컨센서스', '잠정치', '컨센서스', '잠정치')  
]

after = [  
    ('영업이익', '컨센서스'),   
    ('영업이익', '잠정치'),   
    ('당기순이익', '컨센서스'),   
    ('당기순이익', '잠정치')  
]

In [6]:
before = [
    ('영업이익', '영업이익', '당기순이익', '당기순이익'), 
    ('컨센서스', '잠정치', '컨센서스', '잠정치')
]

after = [
    ('영업이익', '컨센서스'), 
    ('영업이익', '잠정치'), 
    ('당기순이익', '컨센서스'), 
    ('당기순이익', '잠정치')
]

after = list(zip(*before))
after

[('영업이익', '컨센서스'), ('영업이익', '잠정치'), ('당기순이익', '컨센서스'), ('당기순이익', '잠정치')]

### 236. zip

위의 after 리스트를 before 리스트로 변경해보세요.

In [7]:
before = list(zip(*after))
before

[('영업이익', '영업이익', '당기순이익', '당기순이익'), ('컨센서스', '잠정치', '컨센서스', '잠정치')]

### 237. slice(None)

위 데이터프레임에서 컨센서스 컬럼들만 선택하여 다음 그림과 같은 데이터프레임을 생성해보세요.

In [8]:
arrays = [['영업이익', '영업이익', '당기순이익', '당기순이익'],
         ['컨센서스', '잠정치', '컨센서스', '잠정치']]

columns = pd.MultiIndex.from_arrays(arrays)

data = [[100, 900, 800, 700], [1200, 1400, 900, 800]]

index = ['2020/06', '2020/09']

df = DataFrame(data=data, index=index, columns=columns)
df.loc[:, (slice(None), '컨센서스')]

         영업이익 당기순이익
         컨센서스  컨센서스
2020/06   100   800
2020/09  1200   900

### 238. MultiIndex 인덱싱

위 데이터프레임에서 다음 빨간색 네모 부분의 데이터만 선택하세요.

In [9]:
df['영업이익']

         컨센서스   잠정치
2020/06   100   900
2020/09  1200  1400

### 239. MultiIndex 인덱싱 (iloc)

위 데이터프레임에서 iloc 속성을 사용해서 잠정치 컬럼만 모아서 데이터프레임을 생성해보세요.

In [10]:
df.iloc[:,1::2]

         영업이익 당기순이익
          잠정치   잠정치
2020/06   900   700
2020/09  1400   800

### 240. DataFrame.T

위 데이터프레임을 다음 그림의 데이터프레임으로 변환해보세요.

In [11]:
df.T

            2020/06  2020/09
영업이익  컨센서스      100     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800