### 261. datetime now

datetime 모듈을 사용하여 현재 시간을 출력하세요.

In [5]:
from datetime import datetime

datetime.now()

datetime.datetime(2024, 2, 29, 9, 37, 56, 925950)

### 262. datetime year, month, day

datetime 모듈을 사용하여 연도, 월, 일을 출력하세요.

In [10]:
datetime.now().year

2024

In [11]:
datetime.now().month

2

In [12]:
datetime.now().day

29

### 263. timedelta

현재 시간으로부터 하루 뒤의 시각을 출력하세요.

In [13]:
from datetime import timedelta

datetime.now() + timedelta(days=1)

datetime.datetime(2024, 3, 1, 9, 41, 51, 863878)

### 264. timedelta

현재 시간으로부터 하루 전의 시각을 출력하세요.

In [14]:
datetime.now() - timedelta(days=1)

datetime.datetime(2024, 2, 28, 9, 42, 39, 838309)

### 265. timedelta

한국 표준시(KST)는 세계 협정시(UTC) 보다 9시간 빠릅니다. 현재 시간을 구한 후 timedelta를 사용하여 UTC를 계산하세요.

In [16]:
datetime.now() - timedelta(hours=9)

datetime.datetime(2024, 2, 29, 0, 43, 38, 69679)

### 266. strftime

현재 시간을 얻어온 후 "연도-월-일"과 같은 문자열 포맷으로 변환하세요.

In [19]:
datetime.now().strftime('%Y-%m-%d')

'2024-02-29'

### 267. strftime

현재 시간을 얻어온 후 '2022-09-09 09:39:18'와 같은 포맷의 문자열로 변경하세요.

In [22]:
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2024-02-29 09:47:31'

### 268. strptime

strptime 메서드를 사용해서 "2023-01-01 00:00:00" 포맷의 문자열을 datetime 타입의 객체로 변환하세요.

In [25]:
datetime.strptime("2023-01-01 00:00:00", "%Y-%m-%d %H:%M:%S")

datetime.datetime(2023, 1, 1, 0, 0)

### 269. pandas.to_datetime

date_fmt 리스트에는 문자열로 표현된 날짜가 저장되어 있습니다. 이를 pandas.to_datetime 함수를 사용해서 DatetimeIndex 타입으로 변경하세요.

date_fmt = ["2022-09-09 00:00:00", "2022-09-09 00:00:01", "2022-09-09 00:00:02"]

In [27]:
date_fmt = ["2022-09-09 00:00:00", "2022-09-09 00:00:01", "2022-09-09 00:00:02"]

import pandas as pd

pd.to_datetime(date_fmt)

DatetimeIndex(['2022-09-09 00:00:00', '2022-09-09 00:00:01',
               '2022-09-09 00:00:02'],
              dtype='datetime64[ns]', freq=None)

### 270. datetime 객체 생성

'2023-01-01 00:00:00' 시각을 datetime 클래스의 객체로 생성하세요.

In [32]:
datetime(year=2023, month=1, day=1, hour=0, minute=0, second=0)

datetime.datetime(2023, 1, 1, 0, 0)