In [1]:
import pandas as pd
from pandas import Series

### 081. 시리즈 추가

시리즈에 순이 인덱스에 400을 추가하라.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [3]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.loc['순이'] = 400
s

철수    100
영희    200
아름    300
순이    400
dtype: int64

### 082. 시리즈 삭제

시리즈에 철수를 삭제하라.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [5]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.drop('철수')

영희    200
아름    300
dtype: int64

### 083. 시리즈 삭제 (inplace)

시리즈 객체에서 drop 메소드를 사용하여 철수를 삭제하세요. 이때 drop 메소드의 인자로 inplace=True를 사용해보고 그 의미를 설명해보세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [8]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.drop('철수', inplace=True)
s

영희    200
아름    300
dtype: int64

### 084. unique

다음 시리즈 객체는 주식 종목별 업종을 나타냅니다. 업종 중 중복적인 값을 제외한 값을 출력해보세요.

from pandas import Series

data = {  
    "삼성전자": "전기,전자",  
    "LG전자": "전기,전자",  
    "현대차": "운수장비",  
    "NAVER": "서비스업",  
    "카카오": "서비스업"  
}  
s = Series(data)

In [9]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)

s.unique()

array(['전기,전자', '운수장비', '서비스업'], dtype=object)

### 085. unique

다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 식대 금액에 대해서 중복적인 값을 제외한 값만 출력해보세요.

import pandas as pd

s = pd.Series(  
    data = [9000, 9000, 8000, 9000, 10000],  
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']  
)

In [10]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.unique()

array([ 9000,  8000, 10000])

### 086. unique

다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 한 번이라도 야근한 직원들의 명부를 출력해보세요.

import pandas as pd

s = pd.Series(  
    data = [9000, 9000, 8000, 9000, 10000],  
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']  
)

In [11]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
s.index.unique()

Index(['김과장', '이대리', '박전무'], dtype='object')

### 087. value_counts

다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 식대 금액별로 횟수를 출력해보세요.

import pandas as pd

s = pd.Series(  
    data = [9000, 9000, 8000, 9000, 10000],  
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']  
)

In [14]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)
s.value_counts()

9000     3
8000     1
10000    1
dtype: int64

### 088. value_counts

다음 시리즈 객체는 파이스탁 출판사의 저녁 식대 지출 내역입니다. 직원별 야근 회수를 출력해보세요.

import pandas as pd

s = pd.Series(  
    data = [9000, 9000, 8000, 9000, 10000],  
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']  
)

In [13]:
s = pd.Series(
    data = [9000, 9000, 8000, 9000, 10000],
    index = ['김과장', '이대리', '박전무', '이대리', '이대리']
)

s.index.value_counts()

이대리    3
김과장    1
박전무    1
dtype: int64

### 089. value_counts

다음 시리즈 객체는 종목에 대한 업종 정보를 표현합니다. 업종별 발생 횟수를 출력해보세요.

from pandas import Series

data = {  
    "삼성전자": "전기,전자",  
    "LG전자": "전기,전자",  
    "현대차": "운수장비",  
    "NAVER": "서비스업",  
    "카카오": "서비스업"  
}  
s = Series(data)

In [15]:
data = {
    "삼성전자": "전기,전자",
    "LG전자": "전기,전자",
    "현대차": "운수장비",
    "NAVER": "서비스업",
    "카카오": "서비스업"
}
s = Series(data)
s.value_counts()

전기,전자    2
서비스업     2
운수장비     1
dtype: int64

### 090. missing data

아래 표는 어떤 회사의 재무제표의 일부 항목입니다. 다음 표를 판다스 시리즈 객체로 생성하세요.  
PER 값이 존재하지 않는데 이를 numpy 모듈의 nan 타입을 사용해서 표현하면 됩니다.

항목	값  
매출액	300  
PER	N/A  
PBR	2.0

In [18]:
import numpy as np

index = ['매출액', 'PER', 'PBR']
data = [300, np.nan, 2.0]

Series(data, index)

매출액    300.0
PER      NaN
PBR      2.0
dtype: float64