In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

### 201. DataFrame.groupby mean

다음 데이터프레임에서 테마별 PER, PBR의 평균을 계산하세요.

data = [  
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],  
    ["해운", "팬오션", 21.23, 0.95],  
    ["시스템반도체", "티엘아이", 35.97, 1.12],  
    ["해운", "HMM", 21.52, 3.20],  
    ["시스템반도체", "아이에이", 37.32, 3.55],  
    ["2차전지(생산)", "LG화학", 83.06, 3.75]  
]  

columns = ["테마", "종목명", "PER", "PBR"]  
df = pd.DataFrame(data=data, columns=columns)

In [4]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df = pd.DataFrame(data=data, columns=columns)

df.groupby('테마').mean()

/var/folders/lm/0qgrycpj4y52760rt_gw40q00000gn/T/ipykernel_36436/559569964.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('테마').mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

### 202. DataFrame.groupby max, min

위 데이터프레임에서 테마별 PER, PBR의 최대, 최소값을 계산하세요.

data = [  
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],  
    ["해운", "팬오션", 21.23, 0.95],  
    ["시스템반도체", "티엘아이", 35.97, 1.12],  
    ["해운", "HMM", 21.52, 3.20],  
    ["시스템반도체", "아이에이", 37.32, 3.55],  
    ["2차전지(생산)", "LG화학", 83.06, 3.75]  
]  

columns = ["테마", "종목명", "PER", "PBR"]  
df = pd.DataFrame(data=data, columns=columns)

In [6]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df = pd.DataFrame(data=data, columns=columns)

df.groupby('테마').min('PER')

            PER   PBR
테마
2차전지(생산)  10.19  1.29
시스템반도체    35.97  1.12
해운        21.23  0.95

In [7]:
df.groupby('테마').max('PER')

            PER   PBR
테마
2차전지(생산)  83.06  3.75
시스템반도체    37.32  3.55
해운        21.52  3.20

### 203. DataFrame.groupby size

위 데이터프레임에서 테마별 종목의 개수를 계산하세요.

In [10]:
df.groupby('테마').size()

테마
2차전지(생산)    2
시스템반도체      2
해운          2
dtype: int64

In [11]:
df.groupby('테마').count()

          종목명  PER  PBR
테마
2차전지(생산)    2    2    2
시스템반도체      2    2    2
해운          2    2    2

### 204. DataFrame.groupby get_group

위 데이터프레임을 '테마' 컬럼으로 그룹핑한 후 '2차전지(생산)' 그룹만 가져오세요

In [12]:
df.groupby('테마').get_group('2차전지(생산)')

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

### 205. DataFrame groupby

위 데이터프레임에서 테마별 PER의 평균을 계산하세요

In [18]:
df.groupby('테마').mean()[['PER']]

/var/folders/lm/0qgrycpj4y52760rt_gw40q00000gn/T/ipykernel_36436/1353094585.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('테마').mean()[['PER']]

             PER
테마
2차전지(생산)  46.625
시스템반도체    36.645
해운        21.375

### 206. DataFrame.groupby 슬라이싱

위 데이터프레임에 대해 테마로 그룹화한 후 PER, PBR 컬럼을 슬라이싱하세요. 그 다음 두 컬럼에 대한 평균을 계산하세요.

In [19]:
df.groupby('테마').mean()[['PER', 'PBR']]

/var/folders/lm/0qgrycpj4y52760rt_gw40q00000gn/T/ipykernel_36436/281089447.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('테마').mean()[['PER', 'PBR']]

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

### 207. DataFrame.groupby agg

위 데이터프레임에 대해서 '테마' 컬럼으로 그룹화한 후 max 함수를 적용하세요.

In [21]:
df.groupby('테마').agg('max')

              종목명    PER   PBR
테마
2차전지(생산)  SK이노베이션  83.06  3.75
시스템반도체       티엘아이  37.32  3.55
해운            팬오션  21.52  3.20

In [22]:
df.groupby('테마').max()

              종목명    PER   PBR
테마
2차전지(생산)  SK이노베이션  83.06  3.75
시스템반도체       티엘아이  37.32  3.55
해운            팬오션  21.52  3.20

### 208. DataFrame.groupby agg

위 데이터프레임에 대해서 '테마' 컬럼으로 그룹화한 후 PER 컬럼은 max, PBR 컬럼은 min 함수를 적용해보세요.

In [23]:
df.groupby('테마').agg({'PER':'max', 'PBR':'min'})

            PER   PBR
테마
2차전지(생산)  83.06  1.29
시스템반도체    37.32  1.12
해운        21.52  0.95

### 209. Group 순회

위 데이터프레임에 대해 '테마'로 그룹화 한 후 순회하는 다음 코드를 실행하고 결과를 확인하세요.

for name, group in df.groupby("테마"):  
    print(name)  
    print(group)

In [24]:
for name, group in df.groupby("테마"):
    print(name)
    print(group)

2차전지(생산)
         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75
시스템반도체
       테마   종목명    PER   PBR
2  시스템반도체  티엘아이  35.97  1.12
4  시스템반도체  아이에이  37.32  3.55
해운
   테마  종목명    PER   PBR
1  해운  팬오션  21.23  0.95
3  해운  HMM  21.52  3.20

### 210. groupby agg

위 데이터프레임에 대해서 '테마' 컬럼으로 그룹화한 후 PER, PBR 컬럼에 np.mean과 np.std 함수를 적용하세요.

In [26]:
df.groupby('테마').agg({'PER':np.mean, 'PBR':np.std})

             PER       PBR
테마
2차전지(생산)  46.625  1.739483
시스템반도체    36.645  1.718269
해운        21.375  1.590990

### 추가 : nunique

위 데이터프레임을 '테마' 컬럼을 기준으로 그룹화한 후 종목명 열만 추출하여 데이터의 빈도수를 계산하세요.

In [28]:
df.groupby('테마')[['종목명']].nunique()

          종목명
테마
2차전지(생산)    2
시스템반도체      2
해운          2