In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

### 141. 데이터프레임 컬럼 접근

데이터프레임에서 현재가 컬럼만 출력해보세요.

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)  
df.set_index('종목코드', inplace=True)

In [2]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [8]:
df['현재가'].values

array([1510, 1790, 1185])

### 142. 컬럼 인덱싱

데이터프레임에서 현재가 컬럼을 인덱싱하는데 이를 데이터프레임 타입이 되도록 하세요.

In [9]:
df[['현재가']]

         현재가
종목코드
037730  1510
036360  1790
005760  1185

### 143. 데이터프레임 멀티 컬럼 접근

다음 데이터프레임에서 "현재가"와 "등락률" 컬럼을 인덱싱해보세요.

In [10]:
df[['현재가', '등락률']]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

### 144. 데이터프레임 로우 접근 (iloc 속성)

데이터프레임에서 iloc 속성을 사용하여 0번째 행을 출력해보세요.

In [12]:
df.iloc[[0]]

       종목명   현재가   등락률
종목코드
037730  3R  1510  7.36

### 145. 데이터프레임 로우 접근 (iloc 속성)

데이터프레임에서 iloc 속성을 사용하여 가장 아래쪽의 행을 출력해보세요.

In [13]:
df.iloc[[-1]]

         종목명   현재가   등락률
종목코드
005760  ACTS  1185  1.28

### 146. 데이터프레임 멀티 로우 접근 (iloc 속성)

데이터프레임에서 iloc 속성을 사용하여 0번째, 2번째 행을 출력해보세요.

In [19]:
df.iloc[0:3:2]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

### 147. loc

위 데이터프레임에서 "037730" 종목의 데이터를 인덱싱해보세요.

In [21]:
df.loc[['037730']]

       종목명   현재가   등락률
종목코드
037730  3R  1510  7.36

### 148. loc 멀티 인덱싱

위 데이터프레임에서 첫 번째와 세 번째 행을 동시에 인덱싱해보세요.

In [22]:
df.loc[['037730', '005760']]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

### 149. 특정 값 가져오기 (iloc)

위 데이터프레임에서 037730 종목의 등락률을 출력하세요.

In [23]:
df.iloc[0,2]

7.36

### DataFrame.iat 과 DataFrame.at

위 데이터프레임에서 iat과 at 속성을 사용하여 037730 종목의 등락률을 출력하세요.

In [25]:
df.iat[0, 2]

7.36

In [26]:
df.at['037730', '등락률']

7.36