In [1]:
import pandas as pd
from pandas import DataFrame

### 151. 특정 값 가져오기 (loc)

다음 데이터프레임에서 037730 종목의 등락률을 출력하세요.

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]  
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)  
df.set_index('종목코드', inplace=True)

In [2]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc['037730']['등락률']

7.36

### 152. iloc 슬라이싱

위 데이터프레임에서 iloc 속성을 사용하여 첫번째, 두번째 행을 슬라이싱하세요.

In [3]:
df.iloc[0:2]

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

### 153. loc 슬라이싱

위 데이터프레임에서 loc 속성을 사용하여 첫번째, 두번째 행을 슬라이싱하세요.

In [6]:
df.loc['037730':'036360']

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

### 154. 컬럼 인덱싱 (iloc)

위 데이터프레임에서 iloc 속성을 사용하여 첫 번째 컬럼을 인덱싱하세요.

In [18]:
df.iloc[:, 0]

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

### 155. 컬럼 인덱싱 (loc 속성)

위 데이터프레임에서 loc 속성을 사용하여 첫 번째 컬럼을 인덱싱하세요.

In [19]:
df.loc[:, '종목명']

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

### 156. loc

위 데이터프레임에서 loc 속성을 사용하여 '037730' 종목의 '종목명', '현재가' 컬럼을 선택하세요.

In [20]:
df.loc['037730', ['종목명', '현재가']]

종목명      3R
현재가    1510
Name: 037730, dtype: object

### 157. iloc

위 데이터프레임에서 iloc 속성을 사용하여 '037730' 종목의 '종목명', '현재가' 컬럼을 선택하세요.

In [21]:
df.iloc[0, [0, 1]]

종목명      3R
현재가    1510
Name: 037730, dtype: object

### 158. loc

위 데이터프레임에서 loc를 속성을 사용하여 다음 범위를 가져오세요.

In [22]:
df.loc[['037730', '036360'], ['종목명', '현재가']]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

### 159. iloc 속성

위 데이터프레임에서 iloc를 속성을 사용하여 다음 범위를 가져오세요.

In [23]:
df.iloc[[0, 1], [0, 1]]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

### 160. loc 속성과 슬라이싱

위 데이터프레임에서 다음 코드로 선택되는 영역을 말해보세요.

df.loc[:"036360", "현재가":"등락률"]

0~1행, 0~1컬럼

In [24]:
df.loc[:"036360", "현재가":"등락률"]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65