In [1]:
import pandas as pd
from pandas import Series

### 121. dropna

다음과 같이 NaN이 포함된 시리즈 겍채에서 NaN 값을 제거하세요.

import numpy as np  
from pandas import Series

data = [1, 2, 3, 4, np.nan]  
s = Series(data=data)  
s

In [2]:
import numpy as np

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)

s.dropna(inplace=True)
s

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

### 122. nlargest

다음과 같은 시리즈 객체가 있을 때 nlargest 메서드를 사용하여 값이 큰 3개를 출력해보세요.

from pandas import Series

data = range(1, 11)  
s = Series(data=data)  
s

In [3]:
data = range(1, 11)
s = Series(data=data)
s.nlargest(3)

9    10
8     9
7     8
dtype: int64

### 123. nsmallest

다음과 같은 시리즈 객체가 있을 때 nsmallest 메서드를 사용하여 값이 작은 3개를 출력해보세요.

from pandas import Series

data = range(1, 11)  
s = Series(data=data)  
s

In [4]:
data = range(1, 11)
s = Series(data=data)
s.nsmallest(3)

0    1
1    2
2    3
dtype: int64

### 124. Series.dt.year

다음 시리즈 객체의 값에서 연도만 출력하세요.

import pandas as pd

data = pd.to_datetime( ['20200101', '20210101', '20220101'] )  
s = pd.Series( data)

In [5]:
data = pd.to_datetime( ['20200101', '20210101', '20220101'] )
s = pd.Series(data)

s.dt.year

0    2020
1    2021
2    2022
dtype: int64

### 125. Series.dy.day

다음 시리즈 객체의 값에서 '일'만 가져와 보세요.

import pandas as pd

data = pd.to_datetime( ['20200101', '20210101', '20220101'] )  
s = pd.Series( data)

In [6]:
data = pd.to_datetime( ['20200101', '20210101', '20220101'] )
s = pd.Series(data)

s.dt.day

0    1
1    1
2    1
dtype: int64

### 126. 시리즈 시계열 인덱스

다음 시리즈 객체의 인덱스에서 연도만 가져오세요.

import pandas as pd

index = pd.to_datetime( ['20200101', '20210101', '20220101'] )  
data = [100, 200, 300]  
s = pd.Series(data=data, index=index)

In [10]:
index = pd.to_datetime( ['20200101', '20210101', '20220101'] )
data = [100, 200, 300]
s = pd.Series(data=data, index=index)

s.index.year

Int64Index([2020, 2021, 2022], dtype='int64')

### 127. strftime

시리즈 객체에는 인덱스가 datetime64 타입으로 저장돼 있습니다.

import pandas as pd

index = pd.to_datetime( ['20200101', '20210101', '20220101'] )  
data = [100, 200, 300]  
s = pd.Series(data=data, index=index)  
시리즈의 인덱스를 다음 포맷의 문자열로 변경하세요.  

2020-01-01 00:00:00    100  
2021-01-01 00:00:00    200  
2022-01-01 00:00:00    300  
dtype: int64

In [11]:
index = pd.to_datetime( ['20200101', '20210101', '20220101'] )
data = [100, 200, 300]
s = Series(data=data, index=index)

s.index.strftime('%Y-%m-%d 00:00:00')

Index(['2020-01-01 00:00:00', '2021-01-01 00:00:00', '2022-01-01 00:00:00'], dtype='object')

### 128. Series.str.cat

다음 시리즈 객체는 3종목의 종목 코드를 저장하고 있습니다. 이를 다음과 같이 ';'로 구분된 문자열로 생성하세요.

'000020;000040;005930'  
import pandas as pd  

s = pd.Series(["000020", "000040", "005930"])

In [14]:
s = pd.Series(["000020", "000040", "005930"])

s.str.cat(sep=';')

'000020;000040;005930'

### 129. 문자열 추가

종목 코드를 저장하고 있는 시리즈 객체의 종목 코드에 'A'를 추가하세요.

import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

In [18]:
s = pd.Series(["000020", "000040", "005930"])

'A' + s

0    A000020
1    A000040
2    A005930
dtype: object

### 130. Series.str.zfill

국내 주식은 6자리의 숫자로 구성됩니다. 다음 시리즈 객체는 각 값에서 leading zero가 모두 제가된 상태입니다. 이를 다시 원래 종목 코드로 변환하세요. 예를 들어, "20"은 "000020"이 되어야합니다.

import pandas as pd

s = pd.Series(["20", "40", "5930"])

In [19]:
s = pd.Series(["20", "40", "5930"])

s.str.zfill(6)

0    000020
1    000040
2    005930
dtype: object