In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

### 241. wide data

다음 그림의 데이터프레임을 생성하세요.

In [2]:
columns = ['Date', '삼성전자', '카카오', 'NAVER', 'SK하이닉스', '현대차']
data = [['2020-12-01', 21.09, 221.53, 47.97, 18.14, 37.33],
       ['2021-12-01', 13.55, 35.92, 3.77, 9.93, 11.71]]

df = DataFrame(data=data, columns=columns)
df

         Date   삼성전자     카카오  NAVER  SK하이닉스    현대차
0  2020-12-01  21.09  221.53  47.97   18.14  37.33
1  2021-12-01  13.55   35.92   3.77    9.93  11.71

### 242. pandas.melt

pandas melt 함수를 사용하여 위 데이터프레임을 다음과 같이 변경하세요,

In [5]:
df2 = pd.melt(df, id_vars=['Date'], var_name='종목명', value_name="PER")
df2

         Date     종목명     PER
0  2020-12-01    삼성전자   21.09
1  2021-12-01    삼성전자   13.55
2  2020-12-01     카카오  221.53
3  2021-12-01     카카오   35.92
4  2020-12-01   NAVER   47.97
5  2021-12-01   NAVER    3.77
6  2020-12-01  SK하이닉스   18.14
7  2021-12-01  SK하이닉스    9.93
8  2020-12-01     현대차   37.33
9  2021-12-01     현대차   11.71

### 243. pandas.pivot

데이터프레임 df를 pandas pivot 함수를 사용해서 아래 그림과 같이 변환해보세요.

data = [  
    ["2021-08-12", "삼성전자", 77000],  
    ["2021-08-13", "삼성전자", 74400],  
    ["2021-08-12", "LG전자", 153000],  
    ["2021-08-13", "LG전자", 150500],  
    ["2021-08-12", "SK하이닉스", 100500],  
    ["2021-08-13", "SK하이닉스", 101500]  
]  
columns = ["날짜", "종목명", "종가"]  
df = pd.DataFrame(data=data, columns=columns)

In [8]:
data = [
    ["2021-08-12", "삼성전자", 77000],
    ["2021-08-13", "삼성전자", 74400],
    ["2021-08-12", "LG전자", 153000],
    ["2021-08-13", "LG전자", 150500],
    ["2021-08-12", "SK하이닉스", 100500],
    ["2021-08-13", "SK하이닉스", 101500]
]
columns = ["날짜", "종목명", "종가"]
df = pd.DataFrame(data=data, columns=columns)

pivoted = pd.pivot(df, index='날짜', columns='종목명', values='종가')
pivoted

종목명           LG전자  SK하이닉스   삼성전자
날짜
2021-08-12  153000  100500  77000
2021-08-13  150500  101500  74400

### 244. pandas.pivot

위 데이터프레임 df를 판다스 pivot 함수를 사용해 다음 그림과 같이 변환해보세요.

In [11]:
pivoted = pd.pivot(df, index='종목명', columns='날짜', values='종가')
pivoted

날짜      2021-08-12  2021-08-13
종목명
LG전자        153000      150500
SK하이닉스      100500      101500
삼성전자         77000       74400

### 245. DataFrame stack

다음 데이터프레임 df를 stack 메서드를 사용해서 그림과 같이 변환해보세요. 변환된 데이터프레임을 stacked 변수로 바인딩하세요.  
import pandas as pd  
from datetime import datetime  

arrays = [  
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],  
    ['컨센서스', '잠정치', '컨센서스', '잠정치']  
] 

columns = pd.MultiIndex.from_arrays(arrays)  
index = [datetime(2020, 6, 1), datetime(2020, 9, 1)]  
data = [  
    [100, 900, 800, 700],  
    [1200, 1400, 900, 800]  
]  
df = pd.DataFrame(data=data, index=index, columns=columns)

In [13]:
from datetime import datetime
arrays = [
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],
    ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

columns = pd.MultiIndex.from_arrays(arrays)
index = [datetime(2020, 6, 1), datetime(2020, 9, 1)]
data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]
]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

            영업이익       당기순이익
            컨센서스   잠정치  컨센서스  잠정치
2020-06-01   100   900   800  700
2020-09-01  1200  1400   900  800

In [15]:
stacked = df.stack()
stacked

                 당기순이익  영업이익
2020-06-01 잠정치     700   900
           컨센서스    800   100
2020-09-01 잠정치     800  1400
           컨센서스    900  1200

### 246. DataFrame stack

위 데이터프레임 df를 stack 메서드를 사용하여 다음 그림과 같이 변환해보세요.

In [16]:
df.stack(level=0)

                   잠정치  컨센서스
2020-06-01 당기순이익   700   800
           영업이익    900   100
2020-09-01 당기순이익   800   900
           영업이익   1400  1200

### 247. DataFrame.unstack

stacked 변수가 바인딩하는 데이터프레임에 unstack 메서드를 호출해보세요.

In [17]:
stacked.unstack()

           당기순이익       영업이익
             잠정치 컨센서스   잠정치  컨센서스
2020-06-01   700  800   900   100
2020-09-01   800  900  1400  1200

### 248. pandas.cut

다음 값을 판다스의 cut 함수를 사용하여 3개의 구간으로 나누세요.

import numpy as np  
arr = np.array([1, 7, 5, 4, 6, 3]

In [22]:
arr = np.array([1, 7, 5, 4, 6, 3])
               
pd.cut(arr, 3)

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

### 249. pandas.cut labels

다음 값을 판다스의 cut 함수를 사용하여 3개의 구간으로 나누세요. 각 구간의 라벨은 'bad', 'medium', 'good'입니다.

arr = np.array([1,  7,  5,  4,  6,  3]

In [24]:
arr = np.array([1,  7,  5,  4,  6,  3])

pd.cut(arr, bins=3, labels=['bad', 'medium', 'good'])

['bad', 'good', 'medium', 'medium', 'good', 'bad']
Categories (3, object): ['bad' < 'medium' < 'good']

### 250. pandas cut

다음 시리즈 객체에 대해서 수, 우, 미, 양, 가로 평가하세요.

점수	평가  
90~100	수  
80 ~ 89	우  
70 ~ 79	미  
60 ~ 69	양  
0 ~ 59	가  
import pandas as pd 

scores = [90, 55, 73, 87, 80, 66, 40, 100]  
s = pd.Series(scores)

In [25]:
scores = [90, 55, 73, 87, 80, 66, 40, 100]
s = pd.Series(scores)
s

0     90
1     55
2     73
3     87
4     80
5     66
6     40
7    100
dtype: int64

In [27]:
import pandas as pd

scores = [90, 55, 73, 87, 80, 66, 40, 100]
s = pd.Series(scores)
pd.cut(s, 
       bins=[0, 60, 70, 80, 90, 101], 
       right=False, 
       labels=["가","양","미","우","수"])

0    수
1    가
2    미
3    우
4    우
5    양
6    가
7    수
dtype: category
Categories (5, object): ['가' < '양' < '미' < '우' < '수']